 <body style="background:#E6E6FA;margin-left:50"></body>
  <h1>Leave your comment for <%= @book['title'] %></h1>

   <body>
  <form action="" method="post">
  	Your name: <input type="text" name="name" required><br>
  	Comment: <textarea name="comment" style="width:250px;height:150px;" required></textarea><br>
  	<input type="submit" value="Add comment">
  </form>

  </body>