 <body style="background:#E6E6FA;margin-left:50"></body>
  <h1> <%= "Add New Book Review" %></h1>
  <body>
  <form action="" method="post">
  	Name of the book: <input type="text" name="title" required><br>
  	Author or the book: <input type="text" name="author" required><br>
  	Add url of the cover: <input type="url" name="url" required><br>
  	Add your description: <textarea name="description" style="width:250px;height:150px;" required></textarea><br>
  	<input type="submit" value="Add a book">
  </form>
  	
  </body>